---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Portafolio de Luis Gómez - Desarrollador Web"
    description="Contrata a Luis para crear tu aplicación web o móvil. Desarrollador Web e Ilustrador."
>
    <main>
        <h1 class="font-medium text-center">Pagina no encontrada</h1>
    </main>
</Layout>
