---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import InstagramIcon from "../components/icons/Instagram.astro";
import AboutMeIcon from "../components/icons/AboutMe.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import SocialRef from "../components/SocialRef.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CardSkills from "../components/CardSkills.astro";
import Projects from "../components/Projects.astro";
---

<Layout
	title="Portafolio de Luis Gómez - Desarrollador Web"
	description="Contrata a Luis para crear tu aplicación web o móvil. Desarrollador Web e Ilustrador."
>
	<main>
		<SectionContainer
			class="py-28 md:py-20 flex flex-col lg:flex-row lg:justify-between justify-items-center text-center lg:text-start"
		>
			<div class="w-full lg:w-[40%] lg:ml-10 h-[550px]">
				<h1 class="text-3xl md:text-4xl">Hola, soy Luis Gómez</h1>
				<strong class="text-5xl md:text-6xl">Desarollador Web</strong>
				<p class="mt-7 text-lg lg:text-justify">
					Especializado en el <span class="text-blue-200"
						>front-end</span
					>. Fusiono mi creatividad, pasión por el dibujo y
					habilidades técnicas para dar vida a diseños únicos en cada
					uno de mis proyectos.
				</p>
				<nav class="flex gap-x-4 justify-center py-3">
					<SocialRef
						href="https://www.linkedin.com/in/luis-g%C3%B3mez-8a0529265/"
					>
						<LinkedInIcon class="size-12" />
					</SocialRef>
					<SocialRef href="https://github.com/PoquetzSY">
						<GithubIcon class="size-12" />
					</SocialRef>
					<SocialRef href="https://www.instagram.com/poquetzsy/">
						<InstagramIcon class="size-12" />
					</SocialRef>
				</nav>
			</div>
			<!-- <img
				class="h-[550px] rounded-[15px] lg:flex hidden"
				src="https://cdn3.emoji.gg/emojis/5784_ai_ooto_peace.png"
				alt="front photo"
			/> -->
		</SectionContainer>
		<SectionContainer id="about-me" class="py-[72px] flex flex-col">
			<div class="flex">
				<AboutMeIcon class="size-14 mr-4" />
				<strong class="text-5xl pb-10">Sobre mi</strong>
			</div>
			<div class="flex flex-col md:flex-row md:justify-between">
				<article class="md:w-[50%]">
					<p class="text-center text-9xl">1</p>
					<p class="text-center text-xl">Año de experiencia</p>
				</article>
				<article class="p-4">
					<p class="text-justify text-lg mb-4">
						Soy Luis Enrique Gómez Flores. Desarrollador Web
						especializado en Front-End e Ilustrador. Disfruto
						fusionar mi creatividad artística con la programación
						para crear experiencias cautivadoras y atractivas para
						los usuarios.
					</p>
					<p class="text-justify text-lg mb-4">
						Mi enfoque se centra en la sinergia entre diseño y
						desarrollo, comprometiéndome a utilizar mis habilidades
						tanto en el ámbito del diseño como en el desarrollo web
						para crear software de alta calidad.
					</p>
					<p class="text-justify text-lg">
						Siempre estoy en busca de maneras innovadoras de mejorar
						aplicaciones y agregar un valor significativo a cada
						proyecto.
					</p>
					<div
						class="flex flex-col lg:justify-evenly md:flex-row md:gap-x-10 items-center"
					>
						<CardSkills>
							<p class="text-center text-lg lg:text-xl">
								Hard Skills
							</p>
							<ul class="mt-5">
								<li>- Desarrollo Front-End</li>
								<li>- Diseño web</li>
								<li>- Herramientas de desarrollo</li>
								<li>- Ilustración digital</li>
								<li>- Diseño gráfico</li>
							</ul>
						</CardSkills>
						<CardSkills>
							<p class="text-center text-lg lg:text-xl">
								Soft Skills
							</p>
							<ul class="mt-5">
								<li>- Creatividad</li>
								<li>- Pensamiento critico</li>
								<li>- Trabajo en equipo</li>
								<li>- Enfoque en el Cliente</li>
								<li>- Visión artística</li>
							</ul>
						</CardSkills>
					</div>
				</article>
			</div>
		</SectionContainer>
		<SectionContainer id="projects" class="py-[72px] flex flex-col">
			<div class="flex">
				<ProjectsIcon class="size-14 mr-4" />
				<strong class="text-5xl pb-10">Proyectos</strong>
			</div>
			<Projects class="flex flex-row" />
		</SectionContainer>
	</main>
</Layout>
