---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GithubIcon from "../components/icons/Github.astro";
import InstagramIcon from "../components/icons/Instagram.astro";
import AboutMeIcon from "../components/icons/AboutMe.astro";
import ProjectsIcon from "../components/icons/ProjectsIcon.astro";
import SocialRef from "../components/SocialRef.astro";
import SectionContainer from "../components/SectionContainer.astro";
import CardSkills from "../components/CardSkills.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portafolio de Luis Gómez">
	<main>
		<SectionContainer
			class="py-20 flex justify-between justify-items-center"
		>
			<div class="w-[40%] ml-10">
				<h1 class="text-4xl">Hola, soy Luis Gómez</h1>
				<strong class="text-6xl">Desarollador Web</strong>
				<p class="mt-7 text-lg text-justify">
					Especializado en el <span class="text-blue-200"
						>front-end</span
					>.<span class="opacity-90">
						Fusiono mi creatividad, pasión por el dibujo y
						habilidades técnicas para dar vida a diseños únicos en
						cada uno de mis proyectos.</span
					>
				</p>
				<nav class="flex gap-x-4 justify-center py-3">
					<SocialRef
						href="https://www.linkedin.com/in/luis-g%C3%B3mez-8a0529265/"
					>
						<LinkedInIcon class="size-12" />
					</SocialRef>
					<SocialRef href="https://github.com/PoquetzSY">
						<GithubIcon class="size-12" />
					</SocialRef>
					<SocialRef href="https://www.instagram.com/poquetzsy/">
						<InstagramIcon class="size-12" />
					</SocialRef>
				</nav>
			</div>
			<img
				class="h-[550px] rounded-[15px]"
				src="https://i.pinimg.com/originals/9b/5e/a6/9b5ea679e32187cc7b1b535ecb847bbc.png"
				alt="front photo"
			/>
		</SectionContainer>
		<SectionContainer id="about-me" class="py-14 flex flex-col">
			<div class="flex">
				<AboutMeIcon class="size-14 mr-4" />
				<strong class="text-5xl pb-10">Sobre mi</strong>
			</div>
			<div class="flex justify-between">
				<article class="w-[50%]">
					<p class="text-center text-9xl">1</p>
					<p class="text-center text-xl">Año de experiencia</p>
				</article>
				<article class="p-4">
					<p class="text-justify text-lg">
						Soy Luis Enrique Gómez Flores. Desarrollador Web
						especializado en Front-End y Dibujante. Soy egresado de
						la Universidad Tecnologica de Cancún como T.S.U en
						Desarrollo de Software Multiplataforma y actualmente
						estoy estudiando la Ingenieria en Desarrollo y Gestión
						de Software. He trabajado en proyectos independientes y
						también he realizado mis prácticas profesionales como
						Desarrollador Full Stack.
					</p>
					<div class="flex justify-evenly gap-x-10">
						<CardSkills >
							<p class="text-center text-xl">Hard Skills</p>
							<ul class="mt-5">
								<li>- Desarrollo Front-End</li>
								<li>- Diseño web</li>
								<li>- Herramientas de desarrollo</li>
								<li>- Ilustración digital</li>
								<li>- Diseño gráfico</li>
							</ul>
						</CardSkills>
						<CardSkills>
							<p class="text-center text-xl">Soft Skills</p>
							<ul class="mt-5">
								<li>- Creatividad</li>
								<li>- Pensamiento critico</li>
								<li>- Trabajo en equipo</li>
								<li>- Enfoque en el Cliente</li>
								<li>- Visión artística</li>
							</ul>
						</CardSkills>
					</div>
				</article>
			</div>
		</SectionContainer>
		<SectionContainer id="projects" class="py-14 flex flex-col">
			<div class="flex">
				<ProjectsIcon class="size-14 mr-4" />
				<strong class="text-5xl pb-10">Proyectos</strong>
			</div>
			<Projects class="flex flex-row" />
		</SectionContainer>
	</main>
</Layout>
