---
import Header from "../components/Header.astro";
import "@fontsource-variable/quicksand";
import "@fontsource-variable/overpass-mono";
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark;
	}
	html {
		font-family: "Quicksand Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background: #000000;
		background: radial-gradient(
			circle at center,
			rgba(255, 255, 255, 0.2) 1px,
			rgba(0, 9, 29, 0.2) 1px
		);
		background-size: 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.poke {
		font-family: "Overpass Mono Variable", sans-serif;
	}
	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
